
<h1>Informacion de su Reservacion</h1>


  <tr>
    <th>Origin</th>
    <th>Destination</th>
    <th>Day</th>
    <th>Departure Time</th>
    <th>Arrival Time</th>
    <th>  <th>
    <th>Name</th>

  </tr>

    <tr>
      <td> <%= @reservation[0]['name'] %> </td>
    </tr>
