<div class="jumbotron center">
  <h1>Air Center</h1>
  <%= image_tag "logo_2_crop.png", :alt => "air center logo", class: "logo-image"%>
  </br>
  <%= link_to "Check Flights", "/flights", class: "btn btn-primary btn-lg"%>
  <%= link_to "Check Reservation", "/reservations", class: "btn btn-primary btn-lg"%>
</div>
