<h1>Find Your Reservation</h1>

<div class="field">
  <%= label_tag("Reservation number") %>
  <%= text_field_tag :id, nil, class: 'form-control'    %>
</div>
</br>
<%= link_to "Search", "reservations/#{:id}", :class => "btn btn-primary" %>
