<% flash.each do |name, msg| %>
  <% if name == "error" %>
    <div class="alert alert-danger">
      <strong> Error </strong> <%= msg %>
    </div>
  <% else %>
    <div class="alert alert-info">
      <strong> Notice </strong> <%= msg %>
    </div>
  <% end %>
<% end %>
